.searchBox {
  padding: 10px;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.search {
  height: 40px;
  font-size: medium;
  border: 2px solid var(--color-primary);
}

.searchButton {
  height: 40px;
  font-size: medium;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.searchButton:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  /* margin-right: 10px; */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.saveCancel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .searchBox {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center items horizontally on small screens */
  }

  .search,
  .searchButton {
    width: 100%; /* Make search input and button full width on small screens */
  }

  .form {
    margin-top: 30px; /* Further reduced margin for better spacing on small screens */
  }

  .formRow {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  input[type="text"] {
    width: 100%; /* Make input field full width on small screens */
  }

  .saveCancel {
    gap: 10px; /* Further reduced gap for better spacing on small screens */
  }
}
