.container {
  overflow-x: auto;
}

table {
  margin-top: 10px;
  color: var(--color-black);
  width: 100%;
  border: 2px solid var(--color-primary);
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid var(--color-primary);
}

th {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.actionButton {
  padding: 8px 12px;
  font-size: 14px;
}

.actionButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.editUser {
  margin-left: 10px;
  color: var(--color-primary);
}

.updateButton {
  padding: 7px;
  margin-left: 10px;
}

.updateButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.input {
  margin-left: 10px;
  border: 2px solid var(--color-primary);
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  td,
  th {
    padding: 8px;
    font-size: 14px;
  }

  .actionButton {
    padding: 6px 10px;
    font-size: 12px;
    gap: 10px;
  }

  .editUser {
    margin-top: 5px;
    font-size: 12px;
  }
}
