.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 10px 14px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-black);
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--color-primary);
  color: white;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .pagination {
    justify-content: center;
    flex-wrap: wrap;
  }

  .pagination li {
    margin: 5px;
  }

  .pagination button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
