:root {
  --color-primary: #51d8ea;
  --color-black: #121212;
  --color-white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
  color: var(--color-black);
  overflow-x: hidden;
}

button {
  border: 2px solid var(--color-primary);
  background-color: var(--color-white);
}

button:hover {
  cursor: pointer;
}
